.main-content {
    box-sizing: border-box;
    padding-bottom: 30px;
    min-height: -webkit-calc(100% - 524px);
    min-height: -moz-calc(100% - 524px);
    min-height: calc(100% - 524px);
}

.product-browse .products {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.product-browse .products .products-display {
    display: inline-block;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
    padding: 0;
    text-align: center;
    position: relative;
}

.browse-nav {
    margin: 10px 0 0;
    padding: 0;
    text-align: left;
    min-height: 26px;
}

.browse-nav.mobile {
    display: none;
}

.browse-nav .bn-wrap .subnav-trail {
    min-height: 26px;
    font-size: 13px;
    padding: 0;
}

.browse-nav .bn-wrap .subnav-trail a {
    display: inline-block;
    color: #666;
}

.browse-nav .bn-wrap .subnav-trail .divider {
    cursor: default;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    top: 0;
    margin: 0 11px 0 12px;
    color: #666;
}

.browse-nav .bn-wrap .subnav-trail .divider:last-child {
    display: none;
}

.product-browse .products .products-display .category-title {
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 29px 0 10px;
    font-size: 28px;
    color: #555;
    display: inline-block;
}

.product-browse .products .products-display .display-number {
    display: inline-block;
    font-size: 13px;
    cursor: default;
    text-align: center;
    color: #999;
    top: 0;
    position: absolute;
    margin: 60px auto 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

.product-browse .products .products-display .display-number.mobile {
    display: none;
}

.product-browse .products .products-display .category-desc-loader {
    background: #f5f5f5;
    margin: 25px auto 5px;
    width: 60%;
    height: 26px;
}

.product-browse .products .products-display .category-desc-mini {
    display: none;
    padding: 0;
    color: #999;
    text-align: center;
    max-width: 60%;
    margin: 25px auto 5px;
    overflow: hidden;
    font-size: 13px;
    position: relative;
    cursor: pointer;
}

.product-browse .products .products-display .category-desc-mini.collapsed {
    max-height: 26px;
}

.product-browse .products .products-display .category-desc-mini .cd-overlay {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    white-space: nowrap;
    font-size: 0;
}

.product-browse .products .products-display .category-desc-mini .cd-overlay.minus {
    display: block;
}

.product-browse .products .products-display .category-desc-mini .cd-overlay.plus {
    bottom: -5px;
    display: none;
}

.product-browse .products .products-display .category-desc-mini.collapsed .cd-overlay.plus {
    display: block;
}

.product-browse .products .products-display .category-desc-mini .cd-overlay .cdo-grad {
    width: 10px;
    height: 26px;
    display: inline-block;
    position: relative;
    top: 7px;
    left: 1px;
    background: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 0, #fff 100%);
    background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0, #fff 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, #fff 100%);
}

.product-browse .products .products-display .category-desc-mini .cd-overlay .cdo-content {
    display: inline-block;
    background: #fff;
    font-size: 13px;
    color: #bfbfbf;
}

.product-browse .products .products-display .category-desc-mini .cd-overlay.plus .cdo-content {
    padding-right: 10px;
}

.product-browse .products .products-display .category-desc-mini .cd-overlay .cdo-content .extra {
    font-size: 11px;
    position: relative;
    top: -2px;
    color: #999;
}

.product-browse .products .products-display .category-desc-mini .cd-overlay .cdo-content .extra span {
    position: relative;
    top: 1px;
    font-size: 13px;
}

.product-browse .products .products-display .category-desc-mini.collapsed .cd-overlay.minus {
    display: none;
}

.product-browse .products .products-display .category-desc-mini .text {
    max-width: 100%;
    text-align: center;
}

.product-browse .products .products-display .category-desc-mini .text.mini {
    display: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-browse .products .products-display .category-desc-mini.collapsed .text.mini {
    display: inline-block;
}

.product-browse .products .products-display .category-desc-mini .text p {
    margin-top: 0;
}

.product-browse .products .products-display .category-desc-mini .text h3 {
    cursor: pointer;
    margin: 0;
    padding: 10px 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #888;
    font-size: 18px;
}

.product-browse .products .products-display .category-desc-mini .text.full {
    display: block;
}

.product-browse .products .products-display .category-desc-mini.collapsed .text.full {
    display: none;
}

.browse-nav {
    margin: 10px 0 0;
    padding: 0;
    text-align: left;
    min-height: 26px;
}

.browse-nav .bn-wrap .subnav-trail {
    min-height: 26px;
    font-size: 13px;
    padding: 0;
}

.browse-nav .bn-wrap .subnav-trail a {
    display: inline-block;
    color: #666;
}

.browse-nav .bn-wrap .subnav-trail .divider {
    cursor: default;
    font-family: 'open sans';
    position: relative;
    top: 0;
    margin: 0 11px 0 12px;
    color: #666;
}

.browse-nav .bn-wrap .subnav-trail .divider:last-child {
    display: none;
}

.page-filters-wrap {
    position: relative;
    top: -33px;
}

.page-filters {
    padding: 0;
    display: inline-block;
    margin: 0;
    cursor: default;
    position: absolute;
    right: 0;
    top: 7px;
}

.page-filters .sort-filter-wrapper {
    display: block;
    position: relative;
    padding: 3px 0 3px 5px;
    margin: -39px 0 7px;
    right: 0;
    text-align: right;
    font-size: 13px;
}

.page-filters .sort-filter-wrapper .filter-label {
    cursor: pointer;
    display: inline-block;
    color: #777;
    width: 100%;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.page-filters .sort-filter-wrapper .filter-label i {
    font-size: 11px;
    margin-left: 4px;
    display: none;
}

.page-filters .sort-filter-wrapper .filter-label i.active {
    display: inline-block;
}

.page-filters .sort-filter-wrapper .filter-container {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.13), 0 4px 5px 0 rgba(0, 0, 0, 0.09), 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #d6d6d6;
    margin-top: 0;
    padding: 10px 0;
    z-index: 8;
    min-width: 180px;
    box-sizing: border-box;
    right: 0;
}

.page-filters .sort-filter-wrapper .filter-container .filter-options-wrapper {
    max-height: 325px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.page-filters .sort-filter-wrapper .filter-container .filter-options-wrapper ul.sort-drop,
.page-filters .sort-filter-wrapper .filter-container .filter-options-wrapper ul.category-drop {
    margin: 0;
}

.page-filters .sort-filter-wrapper .filter-container .filter-options-wrapper ul.sort-drop li input {
    display: none;
}

.page-filters .sort-filter-wrapper .filter-container .filter-options-wrapper ul.sort-drop li i,
.page-filters .sort-filter-wrapper .filter-container .filter-options-wrapper ul.category-drop li i {
    float: left;
    position: relative;
    top: 10px;
    left: 13px;
    font-size: 11px;
    display: none;
}

.page-filters .sort-filter-wrapper .filter-container .filter-options-wrapper ul.sort-drop li a,
.page-filters .sort-filter-wrapper .filter-container .filter-options-wrapper ul.category-drop li a {
    display: block;
    cursor: pointer;
    font-weight: 600;
    padding: 0 16px;
    line-height: 32px;
    font-size: 13px;
    color: #555;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Pagination Start */

.page-filters ul.pages {
    display: inline-block;
    position: relative;
    -moz-transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    opacity: 1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.page-filters ul.pages li.arrow.disabled {
    pointer-events: none;
}

.page-filters ul.pages li.left.arrow {
    padding: 0 5px;
}

.page-filters ul.pages li.arrow {
    cursor: pointer;
}

.page-filters ul.pages li {
    display: inline-block;
    font-size: 13px;
}

.page-filters ul.pages li.arrow.disabled i {
    color: #e3e3e3;
}

.page-filters ul.pages li.arrow i {
    font-size: 11px;
    position: relative;
    top: -1px;
    color: #444;
}

.page-filters ul.pages li.page-nav span {
    cursor: pointer;
    margin: 0 7px;
    padding: 0 5px;
}

.page-filters ul.pages li.page-nav span.current {
    cursor: default;
    pointer-events: none;
    background: #e3e3e3;
    border-radius: 100%;
    width: 26px;
    height: 26px;
    line-height: 26px;
    display: inline-block;
    position: relative;
    top: 0;
    color: #444;
    margin: 0 4px;
    text-align: center;
    box-sizing: border-box;
}

.page-filters ul.pages li.page-nav span.eclipse {
    cursor: default;
    display: none;
    padding: 0;
    margin: 0;
    font-size: 11px;
}

.page-filters ul.pages li.page-nav span.eclipse.active {
    display: inline;
}


/* Pagination End */


/* Filter Mobile Start */

.product-browse .products .products-display .mobile-bwrap {
    display: none;
    margin: 0;
}

.product-browse .products .products-display .mobile-buttons {
    display: none;
    margin: 0;
    white-space: nowrap;
    font-size: 0;
    box-sizing: border-box;
    position: relative;
}

.product-browse .products .products-display .mobile-buttons .mb-filters {
    margin-right: 2%;
}

.product-browse .products .products-display .mobile-buttons .mb-filters.dropped {
    border-bottom: none;
    background: #f7f7f7;
    z-index: 10;
}

.product-browse .products .products-display .mobile-buttons .mb-sort {
    margin-left: 2%;
}

.product-browse .products .products-display .mobile-buttons .mb-sort,
.product-browse .products .products-display .mobile-buttons .mb-filters {
    width: 48%;
    display: inline-block;
    position: relative;
    font-size: 14px;
    border: 1px solid #ccc;
    padding: 0;
    height: 46px;
    line-height: 46px;
    box-sizing: border-box;
    cursor: pointer;
    color: #444;
    font-family: 'raleway';
    font-weight: 500;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.product-browse .products .products-display .mobile-buttons .mb-categories,
.product-browse .products .products-display .mobile-buttons .mb-filters {
    display: inline-block;
    position: relative;
    font-size: 14px;
    border: 1px solid #ccc;
    padding: 0;
    height: 46px;
    line-height: 46px;
    box-sizing: border-box;
    cursor: pointer;
    color: #444;
    font-family: 'raleway';
    font-weight: 500;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.product-browse .products .products-display .mobile-buttons .mb-sort img {
    top: 3px;
}

.product-browse .products .products-display .mobile-buttons .mb-sort img,
.product-browse .products .products-display .mobile-buttons .mb-filters img {
    display: inline-block;
    width: 25px;
    position: relative;
    top: 5px;
    margin-right: 10px;
}
.product-browse .products .products-display .mobile-buttons .mb-sort img.flipped, .product-browse .products .products-display .mobile-buttons .mb-filters img.flipped {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* Filter Mobile End */


/* Sortby Dropdown For Mobile Start */

.product-browse .products .products-display .mobile-buttons .mb-sort .filter-container {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #d6d6d6;
    margin-top: -2px;
    padding: 13px 0;
    z-index: 9999;
    width: 100%;
    right: -1px;
    cursor: default;
}

.product-browse .products .products-display .mobile-buttons .mb-sort .filter-container .filter-options-wrapper ul.sort-drop,
.product-browse .products .products-display .mobile-buttons .mb-sort .filter-container .filter-options-wrapper ul.category-drop {
    margin: 0;
}

.product-browse .products .products-display .mobile-buttons .mb-sort .filter-container .filter-options-wrapper ul.sort-drop li input {
    display: none;
}

.product-browse .products .products-display .mobile-buttons .mb-sort .filter-container .filter-options-wrapper ul.sort-drop li a,
.product-browse .products .products-display .mobile-buttons .mb-sort .filter-container .filter-options-wrapper ul.category-drop li a {
    font-family: 'open sans';
    display: block;
    color: #444;
    padding: 6px 15px 6px 10px;
    font-weight: 400;
    line-height: 26px;
    font-size: 13px;
}


/* Sortby Dropdown For Mobile End */


/* Filter Dropdown For Mobile Start */

.product-browse .products .products-display .display-nav-wrapper {
    margin-bottom: 8px;
    text-align: left;
}

.product-browse .products .products-display .display-nav-wrapper .close.mobile {
    position: absolute;
    top: 18px;
    right: 16px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    display: table;
    padding: 0;
    line-height: 1;
    font-size: 20px;
    background: none;
    border-radius: 100%;
    height: 24px;
    width: 24px;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
}
.product-browse .products .products-display .display-nav {
    padding: 10px 0 4px;
    width: 100%;
    background: #fff;
    z-index: 99;
    cursor: default;
}

.product-browse .products .products-display .display-nav .show-new-products {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    background: #6b7c88;
    color: #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    line-height: 60px;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 0;
    transition: height .25s ease-in-out;
}
.product-browse .products .products-display .display-nav .show-new-products i {
    font-size: 11px;
}
.product-browse .products .products-display .display-nav .top-filters {
    width: 100%;
    display: block;
    position: relative;
    padding: 8px 0;
    box-sizing: border-box;
}
.product-browse .products .products-display .display-nav .top-filters .fixed-width {
    padding: 0 !important;
}
.product-browse .products .products-display .display-nav .filters {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: -15px -6px 0;
    min-height: 51px;
    position: relative;
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
}
.product-browse .products .products-display .display-nav .filters .filter-loading-wrapper {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-browse .products .products-display .display-nav .filters .filter-loading-phantom {
    margin-top: 0;
    visibility: hidden;
    height: 0;
    position: relative;
    margin-bottom: 0;
}
.product-browse .products .products-display .display-nav .filters .filter-loading, .product-browse .products .products-display .display-nav .filters .filter-loading-phantom {
    height: 36px;
    position: relative;
    display: block;
    margin-bottom: 30px;
    margin: 15px 6px 0;
    width: 160px;
    background: #f5f5f5;
}
.product-browse .products .products-display .display-nav .filters .filter-wrapper {
    display: none;
    margin: 15px 6px 0;
    width: 160px;
}
.product-browse .products .products-display .display-nav .filters .filter-label:first-child {
    margin: 0 5px 0 0;
}
.product-browse .products .products-display .display-nav .filters .filter-label {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 4px 6px;
    position: relative;
    background-color: #fff;
    color: #555;
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;
}
.product-browse .products .products-display .display-nav .filters .filter-label.loader:not(.disabled):before {
    content: '';
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: -7px;
    width: 12px;
    height: 12px;
    border: 1px solid;
    border-left-color: transparent;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    opacity: 0;
    -moz-transition-duration: .1s;
    -o-transition-duration: .1s;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -moz-animation-duration: .75s;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -moz-animation-name: rotate;
    -webkit-animation-name: rotate;
    animation-name: rotate;
    -moz-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}
.product-browse .products .products-display .display-nav .filters .filter-label i.active {
    display: block;
    opacity: 1;
    -moz-transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.product-browse .products .products-display .display-nav .filters .filter-label i {
    margin-left: 10px;
    font-size: 10px;
    position: relative;
    right: 0;
    top: 9px;
    float: right;
    display: none;
}
.product-browse .products .products-display .display-nav .filters .filter-wrapper#subcategory .filter-container {
    padding-top: 13px;
}
.product-browse .products .products-display .display-nav .filters .filter-container.active {
    display: block;
}
.product-browse .products .products-display .display-nav .filters .filter-container {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    border: 1px solid #d6d6d6;
    margin-top: 0;
    padding: 0 0 13px;
    z-index: 8;
    min-width: 230px;
    box-sizing: border-box;
}
.product-browse .products .products-display .display-nav .filters .filter-container .filter-options-wrapper-scroll {
    max-height: 325px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.allow-scroll {
    overflow: auto !important;
    -webkit-overflow-scrolling: touch;
}
.product-browse .products .products-display .display-nav .filters .filter-wrapper#subcategory .filter-container .filter-option {
    padding: 6px 10px 6px 15px;
}
.product-browse .products .products-display .display-nav .filters .filter-container .filter-option {
    cursor: pointer;
    padding: 6px 21px 6px 14px;
    font-size: 13px;
}
.product-browse .products .products-display .display-nav .filters .filter-container .filter-option .fo-label {
    display: block;
    vertical-align: top;
    line-height: 26px;
    font-weight: 400;
    position: relative;
    overflow: hidden;
}
.product-browse .products .products-display .display-nav .filters .filter-container .filter-option .fo-label .fo-content {
    white-space: nowrap;
}
.product-browse .products .products-display .display-nav .filters .filter-container .filter-option .fo-label input {
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    position: relative;
    display: inline-block;
    width: 17px;
    height: 17px;
    margin: 0;
    padding: 0;
    background: #fff;
    top: 4px;
    left: 0;
    border: 1px solid #d6d6d6;
    margin-right: 12px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    pointer-events: none;
}
.product-browse .products .products-display .display-nav .filters .filter-container .filter-option .fo-label .fo-content .sml-label {
    padding-right: 34px;
}
.product-browse .products .products-display .mobile-buttons .mb-sort img, .product-browse .products .products-display .mobile-buttons .mb-filters img {
    display: inline-block;
    width: 25px;
    position: relative;
    top: 5px;
    margin-right: 10px;
}

/* Filter Dropdown For Mobile End */


/* ================================================= responsive size ================================================= */


@media only screen and (max-width: 400px){
    .product-browse .products .products-display .mobile-buttons .mb-sort img, .product-browse .products .products-display .mobile-buttons .mb-filters img {
        width: 20px;
        top: 4px;
    }
    .product-browse .products .products-display .mobile-buttons .mb-sort, .product-browse .products .products-display .mobile-buttons .mb-filters {
        height: 44px;
        line-height: 44px;
        font-size: 13px;
    }
}

@media only screen and (max-width: 768px) {
    .product-browse .products .products-display .category-desc-mini.desktop {
        display: none !important;
    }
    .product-browse .products .products-display .category-desc-mini {
        max-width: 100%;
        width: 100%;
        text-align: left;
        margin: 0 auto 0;
        padding: 8px 0 2px;
    }
    .browse-nav {
        display: none;
    }
    .browse-nav.mobile {
        display: block;
        padding: 20px 0 5px;
        margin: 0;
    }
    .product-browse .products .products-display .category-title {
        text-align: left;
        margin: 5px 10px 0 0;
        display: inline-block;
        padding: 0;
        font-size: 25px;
        cursor: default;
        line-height: 30px;
    }
    .product-browse .products .products-display .display-number.mobile {
        display: inline-block;
        position: relative;
        top: -2px;
        margin-top: 0;
        min-height: 26px;
    }
    .product-browse .products .products-display {
        text-align: left;
    }
    .product-browse .products .products-display .category-desc-mini .text {
        text-align: left;
        padding-left: 1px;
        box-sizing: border-box;
    }
    .product-browse .products .products-display .mobile-bwrap {
        display: block;
        text-align: center;
    }
    .product-browse .products .products-display .mobile-buttons {
        display: block;
        padding: 10px 0 0;
        box-sizing: border-box;
    }
    .product-browse .products .products-display .display-nav-wrapper {
        display: none;
        position: relative;
        background: #fff;
        z-index: 9;
        width: 100%;
        top: 0;
        left: 0;
    }
    .product-browse .products .products-display .display-nav-wrapper .close.mobile {
        display: none;
    }
    .product-browse .products .products-display .display-nav {
        padding: 0;
        height: 100%;
        width: 100%;
        border: 1px solid #ccc;
        box-sizing: border-box;
        background: #f7f7f7;
        margin-bottom: 20px;
        margin-top: -1px;
    }
    .product-browse .products .products-display .display-nav .top-filters, .product-browse .products .products-display .display-nav .bottom-filters {
        width: 100%;
        height: 100%;
        padding: 20px 20px 1px;
        box-sizing: border-box;
    }
    .product-browse .products .products-display .display-nav .filters {
        justify-content: center;
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
        position: relative;
        margin-top: 0;
    }
    .product-browse .products .products-display .display-nav .filters .filter-loading-wrapper {
        display: none !important;
    }
    .product-browse .products .products-display .display-nav .filters .filter-wrapper {
        margin: 0 auto 22px;
        width: 100%;
    }
    .product-browse .products .products-display .display-nav .filters .filter-label {
        font-size: 13px;
        width: 100%;
        font-weight: 500;
        border: 1px solid #dcdcdc;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        padding: 6px 13px;
    }
    .product-browse .products .products-display .display-nav .filters .filter-label.loader:not(.disabled):before {
        right: 10px;
    }
    .product-browse .products .products-display .display-nav .filters .filter-label i {
        margin-left: 10px;
        font-size: 12px;
        right: -1px;
        top: 8px;
        color: #666;
    }
    .product-browse .products .products-display .display-nav .filters .filter-container {
        border: none;
        width: 100%;
        border: 1px solid #dcdcdc;
        top: -1px;
        position: relative;
        box-shadow: none;
    }
    .product-browse .products .products-display .display-nav .filters .filter-container .filter-options-wrapper {
        max-height: 250px;
    }
    /* media size 768px */
}

@media only screen and (min-width: 769px) {
    .product-browse .products .products-display .category-desc-loader.mobile {
        display: none !important;
    }
    .product-browse .products .products-display .category-desc-mini.mobile {
        display: none !important;
    }
}

@media only screen and (max-width: 850px){
    .product-browse .products .products-display .display-nav .top-filters .fixed-width {
        width: 100%;
    }
}

@media only screen and (max-width: 1200px){
    .product-browse .products .products-display .display-nav {
        padding-bottom: 2px;
    }
    .product-browse .products .products-display .display-nav .top-filters, .product-browse .products .products-display .display-nav .bottom-filters {
        width: 100%;
        margin: 0 auto;
    }
    .product-browse .products .products-display .display-nav .filters .filter-loading, .product-browse .products .products-display .display-nav .filters .filter-loading-phantom {
        width: 135px;
    }
    .product-browse .products .products-display .display-nav .filters .filter-wrapper {
        width: 135px;
    }
    .product-browse .products .products-display .display-nav .filters .filter-label {
        width: 135px;
    }
}

@media only screen and (max-width: 1300px){
    .product-browse .products .products-display .display-nav .filters .filter-loading, .product-browse .products .products-display .display-nav .filters .filter-loading-phantom {
        width: 150px;
    }
    .product-browse .products .products-display .display-nav .filters .filter-wrapper {
        width: 150px;
    }
}

@media only screen and (max-width: 1065px) {
    .product-browse .products .products-display .display-number.desktop {
        display: none;
    }
    .product-browse .products .products-display .display-nav .filters .filter-label {
        cursor: pointer;
    }
}

@media only screen and (max-width: 1450px) {
    .bn-wrap.fixed-width {
        padding: 0 !important;
    }
}